.frame{
  width: 100%;
  height:100%;
  vertical-align: top;
  position: relative;
}
.frame-left,.frame-right,.frame-side-bar{
  display: inline-block;
  background: #f7f7f7;
  position: relative;

}
.frame-left{
  //background: white;
  z-index: 3;
}
.frame-right{
  z-index: 1;
  //background: rgb(244,242,248);
}
.frame-side-bar{
  width: 60px;
  height: 100%;
  //border-right:1px solid #cccccc;
  float:left;
  position: relative;
  display: flex;
  align-items: flex-end;
  .operation-list{
    width: 100%;
    padding-top: 15px;
    .operation-item{
      width: 100%;
      font-size: 20px;
      padding:10px 0;
      text-align: center;
    }

  }

}

.side-bar-menu{
  position: absolute;
  top:5px;
  width: 100%;
  font-size: 24px;
  padding:10px 0;
  text-align: center;
}

.frame-left{
  width: 270px;
  height:100%;
  //border-right:1px solid #cccccc;
  z-index: 4;
}

.frame-right{
  width: calc(100% - 330px);
  height: 100%;
  float:right;
  //box-shadow: inset 1px 0px 12px 0 #cccccc;

}
.frame-left-header{
  height: 60px;
  width: 100%;
  text-align: left;
  .title{
    height: 100%;
    line-height: 60px;
    font-size: 20px;
    padding-left:20px;
    color:rgb(120,120,120);
    font-weight: 500;
  }
  //border-bottom:1px solid #cccccc;

}
.friend-list-content{
  overflow: auto;
  height: calc(100% - 60px);
  width: 100%;
}
.chat-header{
  height:60px;
  //border-bottom: 1px solid #cccccc;
  line-height: 60px;
  font-weight: bolder;
  font-size: 18px;
  text-align: left;
  padding:0 10px;
  //background: #f7f7f7;
}

.chat-footer{
  height:120px;
  width:100%;
  border-top:1px solid #cccccc;
}
.chat-content-wrap{
  //background: #f7f7f7;
  //background: inherit;
  font-size: inherit;
}

.user-overview{
  position: absolute;
  width: 100%;
  height:60px;
  top:60px;

  left:0;
  text-align: center;
  .user-icon{
    height: 40px;
    width: 40px;
    margin-left:10px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .user-message{
    color:rgb(120,120,120);
    font-weight: 500;
  }
}


