:global {
  .vertical-projection{
    box-shadow: 0 0 20px rgba(204,204,204,0.8);
  }
  //hack antd badge
  #root {
    .ant-badge-count{
      top:-5px;
      transform: translateX(55%);
    }
    .ant-badge-dot{
      top:0;
      transform: translateX(120%);
    }
  }

}
