.chat-box {
  min-height: 440px;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: relative;
  border: 1px solid #f1f4f3;
  font-family: "Microsoft YaHei" ,sans-serif;
}
.chat-box .chat-title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 1em;
}
.chat-box .chat-panel {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  overflow: hidden;
  transform: rotate(180deg);
  padding-bottom: 30px;
}
.chat-box .chat-panel-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 111;
  text-align: center;
}
.chat-box .chat-panel-wrap {
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 20%;
}
.chat-box .chat-panel-scroll-block {
  height: 50px;
  width: 3px;
  right: 3px;
  z-index: 111;
  cursor: pointer;
  transition: opacity 0.5s;
  opacity: 0;
  position: absolute;
  background-color: #cccccc;
  padding: 3px 0;
}
.chat-box .chat-input-wrap {
  position: absolute;
  left: 0;
  top: 80%;
  bottom: 0;
  right: 0;
  background-color: #f7f7f7;
}
.chat-box .chat-input-wrap .chat-input {
  height: calc(100% - 25px);
  width: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.chat-box .chat-input-wrap .chat-input:focus, .chat-box .chat-input-wrap .chat-input:hover {
  outline: none;
  box-shadow: none;
}
.chat-box .chat-input-wrap .chat-button {
  float: right;
  margin-right: 4px;
}
.chat-box .chat-message {
  padding: 10px;
  overflow: hidden;
  transform: rotate(180deg);
}
.chat-box .chat-message .chat-message-content {
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
  display: table-cell;
  max-width: 60%;
  table-layout: fixed;
  word-wrap: break-word;
}
.chat-box .chat-message .chat-message-content-center {
  color: #d9d9d9;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
}
.chat-box .chat-message .chat-message-content-left {
  color: #919191;
  background: #e9e9e9;
  border-color: #e9e9e9;
  float: left;
  margin-left: 10px;
  border-radius: 0 10px 0 0;
}
.chat-box .chat-message .chat-message-content-right {
  color: #00a2ae;
  background: #cfedf0;
  border-color: #cfedf0;
  float: right;
  margin-right: 10px;
  border-radius: 10px 0 0 0;
}
.chat-box .chat-message .chat-message-animate-left {
  animation: leftIn 0.5s;
}
.chat-box .chat-message .chat-message-animate-right {
  animation: rightIn 0.5s;
}
.chat-box .chat-message .chat-message-content-left:before, .chat-box .chat-message .chat-message-content-right:before {
  z-index: 11;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  border: 10px solid transparent;
  content: '';
}
.chat-box .chat-message .chat-message-content-left:before {
  left: -10px;
  border-bottom-color: #e9e9e9;
}
.chat-box .chat-message .chat-message-content-right:before {
  right: -10px;
  border-bottom-color: #cfedf0;
}
.chat-box .chat-message .chat-message-content-left:hover {
  background-color: rgba(233, 233, 233, 0.8);
}
.chat-box .chat-message .chat-message-content-left:hover:before {
  border-bottom-color: rgba(233, 233, 233, 0.8);
}
.chat-box .chat-message .chat-message-content-right:hover {
  background-color: rgba(207, 237, 240, 0.8);
}
.chat-box .chat-message .chat-message-content-right:hover:before {
  border-bottom-color: rgba(207, 237, 240, 0.8);
}

/*# sourceMappingURL=ChatBox.css.map */
