
$item-height:60px;
$item-padding:10px;
$item-row-height: $item-height - $item-padding *2;
.friend-list-wrap{
  height: 100%;
  width: 100%;
  min-width: 250px;
  font-size: 14px;
  cursor: default;
  //background:white;
  overflow: auto;
  user-select: none;
  *{
    box-sizing: border-box;
  }
}

.friend-list{
  height: 100%;
  width: 100%;
  list-style: none;
}

.friend-list-item{
  height: $item-height;
  line-height: $item-height;
  text-align: left;
  padding:$item-padding 10px $item-padding 20px;
  vertical-align: top;
  position: relative;
  //background-color:white;
  //transition: background-color 0.1s;
  //border-bottom:1px solid #cccccc;
  &:first-child{
    //border-top:1px solid #cccccc;
  }
  .icon{
    display: inline-block;
    height: $item-row-height;
    width:  $item-row-height;
    border-radius: 50%;
    overflow: hidden;
    float:left;
    margin-right:20px;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .body{
    height: $item-row-height;
    width: calc(100% - 100px);
    float:left;
    .subtext,.title{
      display: block;
      width: 100%;
      height: $item-row-height/2;
      line-height: $item-row-height/2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .title{
      //color:#00a2ae;
      color:black;

      font-weight: bolder;
    }
    .subtext{
      color:#929EAC;

    }
  }

  .addtion{
    height: $item-row-height;
    width: $item-row-height;
    float:right;
    .time{
      display: block;
      width: 100%;
      height:20px;
      line-height: 20px;
      text-align: center;
      color:#00a2ae;
    }
    .count{
      display: block;
      width: 100%;
      height:20px;
      line-height:20px;
      text-align: center;
    }
  }
}


.friend-list-item.friend-list-item-active{
  background-color: #E6E9F2;

  &:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 5px;
    z-index: 2;
    background:#00a2ae;
  }

  //&:hover{
  //  background: rgba(167,223,227,0.8);
  //}
}

