.friend-list-wrap{
  height: 100%;
  width: 100%;
  min-width: 250px;
  font-size: 14px;
  cursor: default;
  *{
    box-sizing: border-box;
  }
}

.friend-list{
  height: 100%;
  width: 100%;
  list-style: none;
}

.friend-list-item{
  height: 80px;
  line-height: 80px;
  text-align: left;
  //border:1px solid #cccccc;
  padding:10px;
  vertical-align: top;
  position: relative;
  &:hover{
    background: #ebf8f9;
  }
  //&:before{
  //  content:"";
  //  position: absolute;
  //  height:100%;
  //  width:8px;
  //  background:#cfedf0;
  //  top:0;
  //  left:0;
  //  z-index: 2;
  //}
  .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    float:left;
    margin-right:10px;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .body{
    height: 60px;
    width: calc(100% - 120px);
    float:left;
    .subtext,.title{
      display: block;
      width: 100%;
      height:30px;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .title{
      color:#00a2ae;
      font-weight: bolder;
    }
    .sutext{
      color:#D7D7D7;
    }
  }

  .addtion{
    height: 60px;
    width: 50px;
    float:right;
    .time{
      display: block;
      width: 100%;
      height:30px;
      line-height: 30px;
      text-align: center;
    }
  }
}


.friend-list-item.friend-list-item-active{
  background: rgba(167,223,227,0.8);

  &:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 5px;
    z-index: 2;
    background:#00a2ae;
  }

  &:hover{
    background: rgba(167,223,227,0.8);
  }
}

